<?xml version="1.0" encoding="UTF-8"?>
	<Configuration status = "info">
		<Properties>
			<property name="LOG_DIR">logs</property>
			<property name="ARCHIVE_LOG_DIR">${LOG_DIR}/archive</property>
			<!--<property name="pattern_console">%d{HH:mm:ss} %-5level %logger{1} - %msg%n</property> -->
			<property name="pattern_console">%relative [%t] %-5level %logger{5} - %msg%n</property>
			<property name="pattern_file">%relative [%t] %-5level %logger{5} - %msg%n</property>
		</Properties>
	<ThresholdFilter level="trace"/>
		<Appenders>
			<Console name="Console" target="SYSTEM_OUT">
				<PatternLayout pattern = "${pattern_console}"/>
			</Console>
			<File name="File1" fileName="${LOG_DIR}/text.log" bufferedIO="true">
				<PatternLayout pattern = "${pattern_file}"/>
			</File>
			<RollingFile name="FileRolling" fileName="logs/text_roll.log" append="true"
							filePattern = "logs/${date:yyyy-MM-dd}/%d{yyyy-MM-dd_HH-mm}_%i.log">
				<PatternLayout pattern = "${pattern_file}"/>
				<Policies>
					<SizeBasedTriggeringPolicy size="5 KB"/>
				</Policies>
				<DefaultRolloverStrategy max="10"/>
			</RollingFile>
			<RollingFile name="FileZip" fileName="${LOG_DIR}/text_arch.log" append="true"
							filePattern = 
			"${ARCHIVE_LOG_DIR}/${date:yyyy-MM-dd}/%d{yyyy-MM-dd_HH-mm}_%i.log.zip">
				<PatternLayout pattern = "${pattern_file}"/>
				<BurstFilter level="INFO" rate="16" maxBurst="100"/>
				<Policies>
					<SizeBasedTriggeringPolicy size="2 KB"/>
				</Policies>
				<DefaultRolloverStrategy max="10"/>
			</RollingFile>
		</Appenders>
		
		<Loggers>
			<Logger name="Log_Console" level="debug" additivity="false">
				<Appender-ref ref ="Console"/>
			</Logger>
			<Logger name="Log_File" level="trace" additivity="false">
				<Appender-ref ref ="File1"/>
			</Logger>
			<Logger name="Log_FileRolling" level="trace" additivity="false">
				<Appender-ref ref ="FileRolling"/>
			</Logger>
			<Logger name="Log_FileRollingZip" level="trace" additivity="false">
				<Appender-ref ref ="FileZip"/>
			</Logger>
			<Root level="debug">
				<Appender-ref ref ="Console" level = "trace"/>
				<Appender-ref ref ="File1"/>
				<Appender-ref ref ="FileRolling"/>
				<Appender-ref ref ="FileZip"/>
			</Root>
		</Loggers>
	</Configuration>
